<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
    <div class="w3-dropdown-hover">
        <button class="w3-button">Gallery</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="{{ system.site_url }}/gallery" class="w3-bar-item w3-button">Overview</a>
            <a href="{{ system.site_url }}/gallery/upload" class="w3-bar-item w3-button">Upload</a>
        </div>
    </div>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
