name: clang-format check 

on:
  pull_request: 

jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v2 
        with:
          fetch-depth: 0 
      - name: Run clang-format 
        run: |
            # This magic invocation to find will: 
            # - list every file ending in .hpp or .cpp recursively in 
            #   - ./lib
            #   - ./test 
            # unless the path contains a directory named 3rdparty in it
            find ./lib ./test -type d -name "3rdparty" -prune -false -o -type f -iname "*.cpp" -o -iname "*.hpp" -print0 | xargs -0 clang-format --style=file -Werror --dry-run


